#root {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
  text-align: center;
}

.App {
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loading {
  display: flex;
  position: absolute;
  top: 3em;
}

.menuLinks {
  transition: border-color 0.25s;
  border: 1px solid transparent;
}
.menuLinks:hover {
  border-color: #646cff;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b2838;
  position: fixed;
  z-index: 100;
}

nav button {
  border-radius: 0px;
  background-color: #1b2838;
}

.navigation {
  position: relative;
  padding-right: 7.1em;
}

.navigation-content {
  text-align: left;
  display: none;
  position: fixed;
  background-color: #1b2838;
  margin-top: 0px;
  min-width: 167px;
  max-width: 168px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navigation a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  display: block;
  border: 1px solid transparent;
}

.navigation a:hover {
  text-decoration: none;
}

.navigation:hover .navigation-content {
  display: block;
}

.myhub {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid transparent;
  height: 27px;
  width: 100%;
}

.launchPop{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
}

.mapScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  height: 80vh;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
}

.worldMapMarks {
  width: 100%;
  height: 100%;
}

.worldMapMarks .wMapFeature {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  stroke: #c0c0bb;
}

.worldMapMarks .site {
  fill: #a34a4a6b;

  opacity: 1;
}

.worldMapMarks .site:hover {
  fill: #a34a4a;
  r: 12;
}

.worldMapMarks .sphere {
  fill: #3c3c3c00;
}
.worldMapMarks .graticules {
  fill: #00000000;
  stroke: #0000001f;
}



#worldMap {
  width: 950px;
  height: 480px;
  margin: 1%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border: 2px solid #0b040400;
  border-radius: 8px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

/* .overlay {
  width: 98%;
  margin: 1%;
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
} */
