#root {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
  text-align: center;
}

.App {
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menuLinks {
  transition: border-color 0.25s;
  border: 1px solid transparent;
}
.menuLinks:hover {
  border-color: #646cff;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b2838;
  position: fixed;
  z-index: 100;
}

nav button {
  border-radius: 0px;
  background-color: #1b2838;
}

.navigation {
  position: relative;
  padding-right: 7.1em;
}

.navigation-content {
  text-align: left;
  display: none;
  position: fixed;
  background-color: #1b2838;
  margin-top: 0px;
  min-width: 167px;
  max-width: 168px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navigation a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  display: block;
  border: 1px solid transparent;
}

.navigation a:hover {
  text-decoration: none;
}

.navigation:hover .navigation-content {
  display: block;
}

.myhub {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid transparent;
  height: 27px;
  width: 100%;
}

.mapScreen {
  position: absolute;
  width: 90vw;
  height: 50vh;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
}


.worldMapMarks .wMapFeature{
  fill: #137b80;
  stroke: #C0C0BB;
}

.worldMapMarks .sphere{
  fill:#c0c0bb33;
}
.worldMapMarks .graticules{
  fill:#c0c0bb33;
  stroke: #0000002f;
}




#worldMap {
  position: absolute;
  width: 80vw;
  height: 80vh;
  margin: 1%;
  border-radius: 10px;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}


/* .overlay {
  width: 98%;
  margin: 1%;
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
} */
